<section class="container">
    <form class="input-group">
      <input type="text" placeholder="Поиск" />
      <button class="primary" type="button">Найти</button>
    </form>
</section>
<section class="results">
    <section class="listing">
        <table>
          <thead>
            <tr>
              <th>№</th>
              <th>Наименование продукта</th>
              <th>Категория</th>
              <th>Описание</th>
              <th>Стоимость в рублях</th>
              <th>Примечание общее</th>
              <th>Примечание специальное</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of ProductClasificationList">
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.category }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.notegeneral }}</td>
              <td>{{ product.notespecial }}</td>
            </tr>
          </tbody>
        </table>
      </section>
  </section>